@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}
body{
  width: 100%;
  background-color: var(--color-bg-primary);
  color: white;
  background-image: url("../public/bgimg.jpg");
  background-attachment: fixed;
  background-position: center;

}
.btn{
  background-color: var(--color-btn);
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  color: black/*white*/;
  text-decoration: none;
}

.btn:hover{
  background-color: var(--color-btn-sec);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
::-webkit-scrollbar{
  display: none;
}
/* :root{
  --primary-color: white;
  --secondary-color: crimson;
  --color-bg-primary: #12151c;
  --color-bg-secondary: #1b222c;
  --color-btn: #661b1c;
  --color-btn-sec: #531516;
} */
.page-head{
  margin: 20px 0px;
  display: flex;
}
:root{
  --primary-color: white;
  --secondary-color: crimson;
  --color-bg-primary: #262640;
  --color-bg-secondary: #1b3a4b;
  --color-btn: white/*#006466;*/;
  --color-btn-sec: rgb(190, 190, 190) /*#144552;*/;
}

.v-line{
  border-left: 6px solid crimson;
  height: 35px;
  margin-right: 8px;
}
@media only screen and (max-width: 678px){
  body{
    font-size: 13px;
  }
  .v-line{
    height: 30px;
  }
  .btn{
    padding: 0.2rem 0.5rem;
  }
}

